<form [formGroup]="form" class="m-5">
  <div class="d-flex flex-column gap-5">
    <div class="presentation-container shadow rounded-4">
      <h1 class="p-4 text-white fs-4">{{ 'Task Manager Pro' }}</h1>
      <p class="px-4 pb-4 text-white">Personal project to present to Avanade recruiters.</p>
    </div>

    <div class="d-flex flex-row flex-nowrap gap-3 overflow-auto pb-3 px-2">
      <div class="bg-white shadow rounded-4 border border-light-subtle stat-card flex-grow-1">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div class="text-secondary fs-6 p-3">TOTAL TASKS</div>
          <div class="fs-2 p-3 fw-bold">{{ tasks.length }}</div>
        </div>
      </div>

      <div class="bg-white shadow rounded-4 border border-light-subtle stat-card flex-grow-1">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div class="text-secondary fs-6 p-3">Completed Tasks</div>
          <div class="fs-2 p-3 fw-bold">{{ getCompletedTasksCount() }}</div>
        </div>
      </div>

      <div class="bg-white shadow rounded-4 border border-light-subtle stat-card flex-grow-1">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div class="text-secondary fs-6 p-3">Pending Tasks</div>
          <div class="fs-2 p-3 fw-bold">{{ getPendingTasksCount() }}</div>
        </div>
      </div>

      <div class="bg-white shadow rounded-4 border border-light-subtle stat-card flex-grow-1">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div class="text-secondary fs-6 p-3">Overdue Tasks</div>
          <div class="fs-2 p-3 fw-bold">{{ getOverdueTasksCount() }}</div>
        </div>
      </div>

      <div class="bg-white shadow rounded-4 border border-light-subtle stat-card flex-grow-1">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div class="text-secondary fs-6 p-3">Completion Rate</div>
          <div class="fs-2 p-3 fw-bold" [style.color]="completionColor">
            {{ getCompletionRate() }}%
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white shadow rounded-4 border border-light-subtle mt-5 p-3">
    <div class="row g-3 align-items-center">
      <div class="col-12 col-md-3 py-1">
        <dropdown-field
          valueAll="All status"
          [list]="statuses"
          fieldName="filterStatus"
        ></dropdown-field>
      </div>

      <div class="col-12 col-md-3 py-1">
        <dropdown-field
          valueAll="All categories"
          [list]="categories"
          fieldName="filterCategories"
        ></dropdown-field>
      </div>

      <div class="col-12 col-md-3 py-1">
        <dropdown-field
          valueAll="All priorities"
          [list]="priorities"
          fieldName="filterPriorities"
        ></dropdown-field>
      </div>

      <div class="col-12 col-md-3">
        <div class="d-flex align-items-center gap-2 text-nowrap">
          <input type="checkbox" formControlName="showCompletedTasks" id="showCompletedTasks" />
          <label for="showCompletedTasks" class="mb-0"> Show Completed Tasks </label>
        </div>
      </div>
    </div>
  </div>

  @switch (getProductivityLevel()) {
    @case ('excelent') {
      <div class="mt-5 alert alert-success">
        [SUCCESS] Outstanding productivity! Keep up the good work!
      </div>
    }

    @case ('good') {
      <div class="mt-5 alert alert-success">
        [GOOD] Good job! You're mantaining steady progress.
      </div>
    }

    @case ('needs-inprovement') {
      <div class="mt-5 alert alert-warning">
        [WARNING] Your produvtivity could use a boost. Focus on completing tasks!
      </div>
    }

    @case ('poor') {
      <div class="mt-5 alert alert-danger">
        [ALERT] Time to get back on track! Start with small, easy tasks.
      </div>
    }

    @case ('default') {
      <div class="mt-5 alert alert-info">Keep tracking your tasks!</div>
    }
  }

  <div class="bg-white shadow rounded-4 border border-light-subtle mt-5 p-3">
    <div class="add-task-header">
      <h2>Add new task</h2>
    </div>
    <div class="row">
      <div class="form-group col-12 col-md-3">
        <input-field
          id="taskTitle"
          label="Title"
          fieldName="title"
          placeholder="Enter task title"
          name="taskTitle"
        ></input-field>
      </div>

      <div class="form-group col-12 col-md-3 py-1">
        <dropdown-field
          label="Category"
          [list]="categories"
          fieldName="category"
        ></dropdown-field>
      </div>

      <div class="form-group col-12 col-md-3 py-1">
        <dropdown-field label="Priority" [list]="priorities" fieldName="priority"></dropdown-field>
      </div>

      <div class="form-group col-12 col-md-3 py-1">
        <utils-date-field label="Due date" [config]="dueDateConfig"></utils-date-field>
      </div>

      <div class="form-group col-12 col-md-3 py-1">
        <dropdown-field label="Status" [list]="statuses" fieldName="status"></dropdown-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <input-field
          label="Description"
          fieldName="description"
          placeholder="Enter task description (optional)"
          [textArea]="true"
        ></input-field>
      </div>
    </div>
    <div class="mt-3 px-1 d-flex flex-row gap-3">
      <utils-button
        type="add"
        (click)="addTask()"
        [disabled]="isAddDisabled$ | async"
      ></utils-button>
      <utils-button type="clear" (click)="clearForm()"></utils-button>
    </div>
  </div>
</form>

<div class="tasks-section">
  <div class="section-header">
    <h2>Tasks</h2>
    <span>Showing {{ getFilteredTasks().length }}</span>
  </div>
  @if (getFilteredTasks().length > 0) {
    <div class="tasks-list">
      @for (task of getFilteredTasks(); track task.id; let idx = $index) {
        <div
          class="p-3 rounded-3 gap-3"
          [ngClass]="{
            'bg-warning-subtle': task.priority === 'medium',
            'bg-success-subtle': task.priority === 'low',
            'bg-danger-subtle': task.priority === 'high',
          }"
          [class.task-completed]="task.status === 'completed'"
        >
          <div class="row align-items-start">
            <div class="col d-flex">
              <div class="col-auto">
                <input
                  type="checkbox"
                  [checked]="task.status === 'completed'"
                  (change)="toggleTaskComplete(task?.id)"
                />
              </div>

              <div class="flex-grow-1 ms-2">
                <div class="d-flex gap-2 align-items-center">
                  <span class="badge rounded-pill bg-dark">{{ idx + 1 }}</span>
                  <span class="fw-bold">{{ task.title }}</span>
                </div>

                <p>{{ task.description }}</p>

                <div class="task-meta d-flex gap-2 flex-wrap">
                  <span [class]="'category-tag category-' + task.category">
                    {{ task.category }}
                  </span>
                  <span [class]="'status-badge status-' + task.status">
                    {{ task.status }}
                  </span>
                  <span
                    class="d-flex align-items-center"
                    [style.color]="isOverdue(task) ? '#ef4444' : '#64748b'"
                  >
                    Due: {{ task.dueDate | date }}
                  </span>
                </div>
              </div>
            </div>

            <div class="col-auto d-flex align-items-center">
              <button class="btn btn-danger" (click)="deleteTask(task?.id)">Delete</button>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="empty-state">
      <div class="empty-state-description"><div class="empty-state-icon">[EMPTY]</div></div>

      <div class="empty-state-title">
        @if (someFilterNotAll$ | async) {
          Try adjusting your filters or add a new task.
        } @else {
          No tasks yet.
        }
      </div>
    </div>
  }
</div>
