<span class="d-flex flex-column pt-1">
  <label class="p-1 fw-bold">
    {{ label }}
    @if (formControl.errors?.['required']) {
      <span class="text-danger px-1">*</span>
    }
  </label>

  @if (textArea) {
    <textarea
      class="input-field"
      [id]="id"
      [name]="name"
      [formControlName]="fieldName"
      [placeholder]="placeholder"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
    ></textarea>
  } @else {
    <input
      matInput
      class="input-field"
      [type]="type"
      [id]="id"
      [name]="name"
      [formControlName]="fieldName"
      [placeholder]="placeholder"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
    />
  }
</span>
