@import 'bootstrap/dist/css/bootstrap.min.css';
@import './styles/material.scss';
@import "./variables.scss";

.shared-title {
  color: $title-color;
}

.list-group-item.active {
  color: #fff;
  border: 1px solid yellow;
}

.btn.btn-primary {
  background-color: #f74ca6;
}

.filter-dropdown-panel {
  background-color: #ffffff;
}

.custom-panel-class {
  background-color: #2c3e50;
}

.custom-panel-class .mat-mdc-option {
  color: #2c3e50;
  background-color: white;
}

.custom-panel-class {
  --mat-select-panel-background-color: white;
  --mat-option-label-text-color: #2c3e50;
  --mat-option-hover-state-layer-color: #f74ca6;
}

.custom-panel-class .mat-mdc-option:hover .mdc-list-item__primary-text {
  color: white !important;
}

.custom-panel-class .mat-mdc-option:hover .mat-mdc-focus-indicator::before {
  background-color: #f74ca6 !important;
  opacity: 1 !important;
}

.custom-panel-class .mat-mdc-option:hover .mdc-list-item__primary-text {
  color: white !important;
}

.custom-panel-class .mat-mdc-option.mdc-list-item--selected .mdc-list-item__primary-text {
  color: #2c3e50 !important;
}
