@import 'bootstrap/dist/css/bootstrap.min.css';

.list-group-item.active {
  color: #fff;
  border: 1px solid yellow;
}

.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #f74ca6 !important;
}

.filter-dropdown-panel {
  background-color: #ffffff;
}

.my-custom-panel-class {
  /* Set your background color */
  background-color: #2c3e50;
}

/* Optional: You likely need to change the text color too if the background is dark */
.my-custom-panel-class .mat-mdc-option {
  color: #2c3e50;
  background-color: white;
}

.my-custom-panel-class {
  --mat-select-panel-background-color: white;
  --mat-option-label-text-color: #2c3e50;
  --mat-option-hover-state-layer-color: #f74ca6;
}

.my-custom-panel-class .mat-mdc-option:hover .mdc-list-item__primary-text {
  color: white !important;
}

.my-custom-panel-class .mat-mdc-option:hover .mat-mdc-focus-indicator::before {
  background-color: #f74ca6 !important;
  opacity: 1 !important;
}

.my-custom-panel-class .mat-mdc-option:hover .mdc-list-item__primary-text {
  color: white !important;
}

.my-custom-panel-class .mat-mdc-option.mdc-list-item--selected .mdc-list-item__primary-text {
  color: #2c3e50 !important;
}
