$label-color: #58595b;
$title-color: #E95224;
$focus-field-border-color: #f74ca6;
$input-icon-hover-color: #f74ca6;
$hover: #f74ca6;
$default-font-size: 1rem;
$sub-title-font-size: 1.25rem; 
$title-font-size: 1.5rem;
